body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
}

.btn-edit, .btn-remove {
  background: none;
  border: none;
  padding: 0;
  color: #069;
  cursor: pointer;
}

.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
}

.todo-item p {
  margin-left: 5px;
}

.btn-edit {
  margin-left: 20px; 
}

.btn-remove {
  margin-left: 10px;
}

ul {
    list-style-type: none;
}

.add-item {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-left: 45px;
}

.btn-update-item {
  margin-top: 10px;
}
